.posts {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitterBackground);
  padding-bottom: 10px;
}
.postsBody > img {
  border-radius: 20px;
}
.postsFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.postsBadge {
  font-size: 15px !important;
  color: var(--twitterColor) !important;
}
